@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Condensed&display=swap');

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgb(0,0,0,0.6) !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-dark .navbar-nav .navbar-link{
    color: white;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .navbar.active,
.navbar-dark .navbar-nav .navbar-link:hover{
    color:blue;
}

.heading-content{
    position: absolute;
    top:40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color:black;
    font-family: monospace;
}